@use "./variables" as *;
@use "./breakpoint" as *;
.container {
    width: 100%;
    max-width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    position: relative;
    @include tablet {
        padding: 0 20px;
    }
    @include mobile {
        padding: 0 10px;
    }
}

.main {
    margin-top: 72px;
    margin-bottom: 2rem;
    min-height: 100vh;
}

.Toastify__toast-container--top-right {
    top: 4rem !important
}

.text-overflow-1-lines {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.text-overflow-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.text-overflow-3-lines {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.text-secondary {
    color: #666 !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}

.text-with-icon {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    &:hover {
        color: $main-color;
    }
    i {
        font-size: 1rem;
        margin-right: 4px;
    }
}

.hover-element {
    transition: transform 50ms, box-shadow 1s;
    &:hover {
        transform: scale(1.01) perspective(0px),
    }
}